# Database - Currently not used - SQLite only
[Database]
Type=QSQLITE
ConnectionName=
ConnectionOptions=
HostName=
Port=
UserName=
Password=

[Options]

# Show statistics
DatabaseReport=true

# Fail if most important tables are not populated
BasicValidation=true

# Check airport boundaries and print warnings to log
AirportValidation=true

# Process airport deletesDatabase - only FSX/P3D/MSFS
ProcessDelete=true

# filter out dummy runways
FilterRunways=true

# Write incomplete objects
SaveIncomplete=true

# Connect airways
ResolveRoutes=true

# Debugging options - slows compilation down and creates huge log files
Verbose=false

# Debugging option - Commit after each update - very slow
Autocommit=false

# Delete duplicates
Deduplicate=true

# Drops all indexes and creates a database preparation SQL script in table "script" for the client to add them again
DropAllIndexes=false

# Vaccuum database
VacuumDatabase=true

# Gather schema statistics
AnalyzeDatabase=true

# Language for MSFS airport and administrative names
MsfsAirportLanguage=

# MSFS 2024 options delay in ms
SimConnectAirportFetchDelay=100
SimConnectNavaidFetchDelay=50
SimConnectBatchSize=2000

# Tables names and minimum number of rows
# An exception is thrown if the tables have less rows
# The numbers below are the minimums for DFD databases
# The value can be prefixed with the compilation type
#
# select 'select ''' || tbl_name || ''' as name, count(*) as count from '|| tbl_name || ' union '
# from sqlite_master
# where type = 'table' order by tbl_name;
[BasicValidationTables]
# Numbers based on cycle 1801
DFD.airport=13000
DFD.airport_file=13000
DFD.airport_msa=10000
DFD.airway=70000
DFD.approach=85000
DFD.approach_leg=400000
DFD.bgl_file=1
DFD.boundary=25000
DFD.com=40000
DFD.holding=10000
DFD.ils=4000
DFD.magdecl=1
DFD.marker=500
DFD.metadata=1
DFD.mora_grid=1
DFD.nav_search=200000
DFD.ndb=2000
DFD.parking=25000
DFD.runway=15000
DFD.runway_end=30000
DFD.scenery_area=1
DFD.script=0
DFD.transition=70000
DFD.transition_leg=200000
DFD.vor=2000
DFD.waypoint=200000

# Actual Numbers based on cycle 2409
# airport	16664
# airport_file	16664
# airport_large	2299
# airport_medium	7971
# airport_msa	12406
# airway	90315
# approach	102801
# approach_leg	504980
# apron	0
# bgl_file	1
# boundary	34432
# com	53027
# helipad	0
# holding	15290
# ils	12002
# magdecl	1
# marker	1045
# metadata	1
# mora_grid	1
# nav_search	249893
# ndb	3425
# parking	55231
# route_edge_airway	90315
# route_edge_radio	159440
# route_node_airway	46831
# route_node_radio	7046
# runway	19861
# runway_end	39722
# scenery_area	1
# script	0
# start	39722
# taxi_path	0
# transition	95165
# transition_leg	296668
# translation	0
# vor	4773
# waypoint	248105

# Actual Numbers based on cycle 1801
# Table "airport" is OK. Has 14045 rows. Minimum required is 13900
# Table "airport_file" is OK. Has 14045 rows. Minimum required is 13900
# Table "airway" is OK. Has 86560 rows. Minimum required is 83800
# Table "approach" is OK. Has 97640 rows. Minimum required is 95400
# Table "approach_leg" is OK. Has 456709 rows. Minimum required is 445500
# Table "bgl_file" is OK. Has 1 rows. Minimum required is 1
# Table "boundary" is OK. Has 26233 rows. Minimum required is 25600
# Table "com" is OK. Has 44686 rows. Minimum required is 43907
# Table "ils" is OK. Has 4177 rows. Minimum required is 4100
# Table "magdecl" is OK. Has 1 rows. Minimum required is 1
# Table "marker" is OK. Has 1491 rows. Minimum required is 1200
# Table "metadata" is OK. Has 1 rows. Minimum required is 1
# Table "nav_search" is OK. Has 216514 rows. Minimum required is 211000
# Table "ndb" is OK. Has 5241 rows. Minimum required is 3000
# Table "runway" is OK. Has 17215 rows. Minimum required is 17100
# Table "runway_end" is OK. Has 34430 rows. Minimum required is 34300
# Table "scenery_area" is OK. Has 1 rows. Minimum required is 1
# Table "transition" is OK. Has 99001 rows. Minimum required is 97500
# Table "transition_leg" is OK. Has 309048 rows. Minimum required is 304700
# Table "vor" is OK. Has 4633 rows. Minimum required is 4500
# Table "waypoint" is OK. Has 206640 rows. Minimum required is 201000

[Filter]
# Not all filters are applied to the X-Plane compilation and none to the DFD compilation.
#
# If include filter is set only the listed features are loaded
# If exclude is set all listed features as excluded
# Exclude has priority before include
# All filters are case insensitive, comma separated and use globbing expressions
# ?	Matches any single character
# *	Matches zero or more of any characters
# [...]	Sets of characters can be represented in square brackets

# If scenery is covered by this filter it will be but at the end of the loading list i.e. get highest priority
IncludeHighPriorityFilter=*/fsAerodata Files/*

# Filter files by name excluding path
# Examples: BNXWorld?.bgl or APX45*.bgl or FTX_NZSI_Unlisted_Airstrips.BGL
IncludeFilenames=

# FSX/P3D/MSFS filename prefixes:
# APX	Airports
# ATX	Routing information
# BRX	Bridges
# CVX	Various coastlines waterpolys roads
# NAX MSFS procedures and navaids with dummy airports and COM
# NVX	Navaids - VORs, NDBs, & associated scenery objects.
# OBX	Objects
# DEM	Digital elevation map
# WSX MSFS Scenery objects
# bvcf.bgl	CENTER type airspace boundaries.
# BNXWorld*	Geopolitical and airspace boundaries.
# Exclude DEM, bridges and other scenery per default
ExcludeFilenames=brx*.bgl,obx*.bgl,cvx*.bgl,dem*.bgl,wsx*.bgl,traffic*.bgl,AIRACCycle.bgl

# Filter files by path relative from scenery.cfg minus the scenery directory
# Example: Addon Scenery/JetwayExclude/*,Scenery/0501/*,Scenery/0601/*
# Full path is needed for X-Plane
# MSFS based on Microsoft.FlightSimulator_8wekyb3d8bbwe/LocalCache/Packages/Official/OneStore or Community
IncludePathFilter=
ExcludePathFilter=

# Filter airports three or four letter ICAO ident
IncludeAirportIcaoFilter=
ExcludeAirportIcaoFilter=

# Filter by object type. Some combinations of this can result in unexpected behavour  - only X-Plane and FSX/P3D
# that is caused by the hierarchical dependency of objects. E.g. filtering out runways
# will also remove approaches and ILS.
# Possible values are:
#  AIRPORT, /* airport and all subrecords */
#  RUNWAY, /* runway and all subrecords */
#  HELIPAD,
#  START, /* runway start position */
#  APPROACH, /* approach and all subrecords */
#  APPROACHLEG,
#  COM,
#  PARKING,
#  ILS,
#  VOR,
#  NDB,
#  WAYPOINT,
#  BOUNDARY, /* airspace boundary and all subrecords */
#  MARKER,
#  APRON, /* apron and its vertices */
#  APRON2, /* apron and its vertices2 lists */
#  TAXIWAY,
#  AIRWAY, /* all airway route processing */
#  GEOMETRY /* apron geometry */
IncludeBglObjectFilter=
ExcludeBglObjectFilter=APRON2

# Filters that define if an airport is defined as addon or not
IncludeAddonPathFilter=
ExcludeAddonPathFilter=Scenery/*,fs-base/*,fs-base-nav/*,fs-base-genericairports/*
